#home-body{
background: #161717 url('../../images/thack.jpg') no-repeat center top;
background-size:contain;
}

a, a:visited{
	color:white;
	&:hover{
	color:gray;
	}
}

p{
margin: 0;
}


header{
	height:100px;
	position:fixed;
	width:100%;
}

.header-fixed{
	@extend header;
	top:-100px;
	z-index:999;
	border-bottom: 4px solid white;
	background-color: #161717;
	transition:0.2s top cubic-bezier(.3, .73, .3, .74);
}

body.down {
	.header-fixed{ top:0;}
	.logo img{ height:60px;}
}

.logo{
	position:relative;
	top:20px;
	display:inline;
}


nav{
	float:right;
	margin: 20px 0 0 0;
	font-family:'Knick';
	font-size:30px;
	a{
		display:inline-block;	
		padding:5px;
		margin-right:5px;
		&:last-child{
			margin-right:0px;
		}
	}
}

.cinemax-logo{
	width:160px;
	position:absolute;
	left:-20px;
	top:-18px;
	z-index: 899;
}

.video{
	height:809px;
	width:100%;
}

.main-video{
	position:relative;
	top:193px;
    width:50%;
    height:555px;
    margin:0 auto;
    text-align:center;

    h2{
    	color:white;
    	padding:15px 0;
    	font-family:'Heroic';
    	text-transform:uppercase;
    }
}

.video-js{
	width:100%;
    height:407px; 
    margin:0;
    
}

.vjs-big-play-button{
	text-align: center;
}

.content{
	height:auto;
	width:100%;
	background-color:#161717;
	padding:0 0 40px 0;
	color:white;
}

.content, .about-social{
	h1{
		margin:0px;
		color:white;
		padding-bottom:15px;	
		font-family:'Heroic';
		text-transform:uppercase;
		font-size:40px;
	}		
}

.featured-extras{
	height:auto;
	padding:20px 25px 0 15px;

	img{
		border:4px solid white;
		width:100%;
	}
	.column{
	padding-bottom:10px;
	}
}

.about-social{
	height:auto;
	padding:20px 15px 0 15px;
	float:right;
}

.extras{
	padding-top:20px;
}

.about{
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.extra-info{
	display:none;
	opacity:0;
}

.more{
	text-decoration:underline;
}

.less{
	@extend .more;
	display:none;
}

.clearfix {
    overflow: auto;
}

.twitter{
	padding-top:16px;
	border-top: 1px solid #777676;
	height:auto;
}
